<div class="login-form">
  <div class="main-logo">
    <img
      src="https://img.freepik.com/darmowe-wektory/plaska-tablica-zadan-scrum-z-kolorowymi-notatkami-papierowymi_88138-931.jpg?t=st=1729519696~exp=1729523296~hmac=e9b0216408749a580a55bd00e2393ab69c9411ece05a29a460ada3124d037208&w=2000"
      alt="task table picture"
    />
  </div>
  <h3>Task tracker</h3>

  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input
        matInput
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        required
      /> </mat-form-field
    ><br />

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      /> </mat-form-field
    ><br />
    <button
      class="login-button"
      type="submit"
      mat-flat-button
      [ngStyle]="{ 'background-color': '#3f51b5', color: 'white' }"
    >
      Login
    </button>
  </form>
  <div class="sign-up">Don't have an account? <a href="">Sign up</a></div>
</div>

<router-outlet></router-outlet>
