<div class="login-form">
  <h3>Sign up</h3>

  <form (ngSubmit)="submitSignUpForm()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        required
      /> </mat-form-field
    ><br />

    <mat-form-field>
      <mat-label>Login</mat-label>
      <input
        matInput
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        required
      /> </mat-form-field
    ><br />

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      /> </mat-form-field
    ><br />
    <button
      class="login-button"
      type="submit"
      mat-flat-button
      [ngStyle]="{ 'background-color': '#3f51b5', color: 'white' }"
    >
      Sign up
    </button>
  </form>
  <div class="sign-up" (click)="goBackToLoginPage()">
    Go back to <button class="sign-up-button">login page</button>
  </div>
</div>

<router-outlet></router-outlet>
