tr {
  border-bottom: 1px solid #ddd;
}
.task-row:hover {
  background-color: #d6eeee;
}

th,
td {
  padding: 15px;
}

.tasks-list {
  max-width: fit-content;
  margin-left: 1%;
  margin-right: auto;
  max-height: fit-content;
  margin-top: 1%;
}
